[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
azure-functions = "==1.2.1"
jmespath = "*"
pybacklog = "*"
pylint = "*"
python-dateutil = "==2.8.1"
pytz = "*"
PyYAML = "==5.3.1"
"ruamel.appconfig" = "*"
"ruamel.std.argparse" = "*"
typed-ast = "==1.4.1"
"zope.interface" = "*"
